.room__player-self {
  font-weight: bolder;
  color: #1890ff;
}

.text--timer {
  display: block;
  text-align: center;
  font-weight: lighter;
  line-height: 70px;
  font-size: 50px;
  padding: 20px 0;
}

.text--question {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.col--match-action-question {
  background: rgba(255, 255, 255, 0.5);
  padding: 25px 0 40px !important;
  margin-bottom: 15px;
}

.button--match-action {
  height: 50px;
  font-size: 18px;
  margin-bottom: 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.text--round-reward-desc {
  line-height: 0px;
}

.text--round-reward-value {
  line-height: 14px;
}

.text--round-timers-up {
  font-size: 32px;
}
