.text--status.text--status {
  font-size: 20px;
	color: #FFF;
	text-shadow: 0 3px 6px rgba(0,0,0,0.3), 0 3px 6px rgba(0,0,0,0.3);
}

.navbar--clearfix {
  height: 40px;
}

.header--match.header--match {
  padding: 30px 50px;
	background: #012250;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	
}

.ant-page-header-heading-title.ant-page-header-heading-title {
  font-size: 26px;
  font-weight: lighter;
  color: #FFF;
}

@media only screen and (min-width: 577px) {
  .ant-page-header-heading-extra {
    width: 300px;
  }
}