.navbar--match {
  padding: 0 20px;
  background: #012250;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  min-height: 80px;
  position: fixed;
  z-index: 1000;
  width: 100% !important;
}

.navbar--player-name {
  font-size: 30px;
  font-weight: lighter;
  color: #fff;
  margin-left: 10px;
}

.navbar--text-status {
  font-size: 30px;
  line-height: 26px;
  color: #fff;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.3), 0 3px 6px rgba(0, 0, 0, 0.3);
}

.navbar--icon-left {
  margin-right: 10px;
}

.navbar--clearfix {
  height: 100px;
}

.text--ellipses {
  max-width: 55%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
}

.status-icon--coins.status-icon--coins {
  line-height: 35px;
  font-size: 40px;
  background: rgb(255, 213, 0);
  color: #af770e;
  border-radius: 150px;
}
