@font-face {
	font-family: 'Muli';
	src: url(fonts/Muli-Light.ttf);
}

body {
	background-color: rgb(232, 234, 241) !important;
	font: 14px/19px 'Muli','Helvetica Neue', Helvetica, Arial, sans-serif !important;
	-webkit-font-smoothing: antialiased;
}
